$dashboard-row-margin: 8px;
$dashboard-tile-padding: 16px;

$dashboard-chart-base-height: 80px;
$dashboard-chart-height: $dashboard-chart-base-height * 4;

.system-process-container {
  .control-form {
    display: flex;

    column-gap: 0.5rem;

    .bx--form-item {
      flex: 0 0 auto;
    }
  }

  .chart-container {
    height: calc(100% - 3.5rem);

    .process-chart-row,
    .process-chart-tile,
    .process-chart {
      height: 100%;
    }
  }
}
