@use "../common";

$wakapi-chart-height: common.$dashboard-chart-base-height * 6;

.wakapi-tile {
  position: relative;

  height: 100%;
}

.wakapi-chart {
  height: 100%;
}

.wakapi-chart__sub-chart {
  height: 100%;
}

.wakapi-grid,
.github-grid {
  position: relative;

  .bx--grid.bx--grid--condensed {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .control-form {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    height: 4rem;

    .bx--form-item {
      flex: 0 0 auto;
    }

    .bx--fieldset {
      margin-bottom: 0;
    }

    .control-form__overflow-menu-button {
      background-color: #f4f4f4;
      align-self: flex-end;
    }
  }
}
